
body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  text-align: center; 
  background-color:lightyellow; 
  color: black; 
}

h1 {
  text-align: center;
}

.socialmediaicons {
  text-align: center;
}

.socialmediaicons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialmediaicons ul li {
  display: inline-block;
  margin-left: 5px;
}

.socialmediaicons ul li img {
  width: 30px;
  border-radius: 50%;
}

.dropDownTextArea {
  display: none;
}

.check {
  display: none;
}

.showbutton {
  color: #fff;
  background-color: orange;
  border-radius: 3px;
  border: 2px solid orange;
  margin-left: auto;
  margin-right: auto; 
}

.button {
  color: #fff;
  background-color: rgb(182, 182, 182);
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  cursor: not-allowed;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

